<div class ="contaner">
	<div class ="row">
		<div class="col-lg-6 col-lg-offset-3">
<% if @book.errors.any? %>
  <p>error prohibited this obj from being saved:!</p>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h1>Editing Book</h1>
<%= form_for(@book) do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title,class: "book_title col-xs-12" %>
    <h4>Opinion</h4>
    <%= f.text_field :body,class: "book_body col-xs-12" %>
    <br>
    <br>
    <%= f.submit 'update Book', class: 'btn btn-primary col-xs-12' %>
 <% end %>

<%= link_to "Show",book_path(@book.id),class: "show_#{@book.id}" %>
 <%= link_to "Back",books_path,class: "back" %>
</div>
</div>
</div>